html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", sans-serif;
}

.background {
  background-color: #2e2d4c;
  background-image: url(../img/background\ stars.jpg);
  background-attachment: fixed;
}

.topo img {
  filter: grayscale(0.4);
  width: 280px;

  float: left;
  padding: 20px;
}
.topo img :hover {
  filter: none;
}

.cabeçalho {
  text-align: center;
  padding: 30px;
  color: aliceblue;
  margin: auto;
}

.conteudo {
  line-height: 2.5rem;
  width: 55%;
  border-radius: 30px;
  margin: 120px auto;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  margin: auto;
}
.navigation {
  margin-bottom: 50px;
}

.navigation li {
  display: inline-block;
  width: 150px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.navigation li a:link,
.navigation li a:visited {
  color: gray;
  text-decoration: none;
}
.navigation li a:hover {
  color: rgb(26, 23, 23);
  text-decoration: underline;
}

.navigation li a:active {
  color: #270a86;
  text-decoration: underline;
}

.fonte-grande {
  font-size: 1.5rem;
}
.fonte-media {
  font-size: 1.5rem;
}
.fonte-pequena {
  font-size: 1.5rem;
}
.titulo {
  font-family: "Fjalla One", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.habilidades progress {
  width: 300px;
  accent-color: #2e2d4c;
  display: inline-block;
}
.btn-inicio {
  position: fixed;
  bottom: 40px;
  right: 20px;
  opacity: 0.5;
  background-color: white;
  line-height: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 50%;
  font-size: 3rem;
  width: 45px;
}
.icone {
  color: #2e2d4c;
  font-size: 0.8em;
}

.btn-inicio :hover {
  opacity: 1;
}
.footer {
  color: white;
  position: relative;
  padding: 50px;
  text-align: center;
  background-color: #1d1d29;
}
.redes {
  padding-top: 15px;
  font-size: 2rem;
  width: 100px;
}
@media (max-width: 720px) {
  .body {
    position: absolute;
  }
  .topo img {
    width: 150px;
  }
  .cabeçalho h1 {
    font-size: 30px;
  }
  .fonte-media {
    font-size: 1.2rem;
  }

  .navigation {
    margin-bottom: 0;
  }
  .conteudo {
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
  }

  .navigation li {
    display: inline-block;
    width: 75px;

    font-size: 0.8rem;
  }
  .topo img {
    padding: 7px;
    width: 100px;
  }
  .fonte-grande {
    font-size: 0.9rem;
  }

  .titulo {
    font-size: 1.1rem;
  }
  .habilidades progress {
    width: 210px;
  }
  .fonte-pequena {
    font-size: 0.9rem;
  }
}
